.article {
&__container {
padding: 80px 220px 0 150px;
}

  &__title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -3px;
    color: var(--neutral-color-100);
  }
}
