.article {
  &__container {
    padding: 80px 140px 0 150px;

    @include mini-desktop {
      padding: 80px 0 0 50px;
    }

    @include small-tablet {
      padding: 50px 0;
    }
  }

  &__title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -3px;
    color: var(--neutral-color-100);

    @include tablet {
      font-size: 65px;
      text-align: center;
    }

    @include mobile {
      font-size: 50px;
    }
  }

  &__comment {
    &-text {
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-author {
      @include flex-align-center;
      gap: 24px;
      margin-bottom: 24px;
      font-style: normal;

      &-avatar {
        overflow: hidden;
        border-radius: 50%;
      }

      &-name {
        font-weight: 600;
        line-height: 144%;
        color: var(--neutral-color-100);
      }
    }
  }

  &__publication {
    display: flex;
    gap: 375px;
    align-items: center;

    @include tablet {
      gap: 0;
      flex-direction: column;
      align-items: start;
    }

    &-professions {
      font-weight: 500;
      line-height: 162%;
      color: var(--neutral-color-150);

      @include small-mobile {
        font-size: 14px;
      }
    }

    &-data {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: var(--neutral-color-150);

      @include small-mobile {
        font-size: 14px;
      }
    }
  }

  &__img {
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__desc {
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--neutral-color-100);

    @include small-mobile {
      text-align: center;
    }
  }

  &__fragment {
    &-title {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 40px;
      line-height: 120%;
      color: var(--neutral-color-100);

      @include small-mobile {
        display: flex;
        justify-content: center;
      }
    }

    &-text {
      margin-bottom: 56px;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-color-100);

      @include small-mobile {
        text-align: center;
      }
    }
  }

  &__author {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    @include small-mobile {
      align-items: center;
    }

    &-img {
      margin-right: 48px;
      max-width: 200px;
      max-height: 200px;

      @include mobile {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &-social {
      display: flex;
      gap: 32px;
      margin-bottom: 14px;
      max-height: 20px;

      @include small-mobile {
        gap: 24px;
        justify-content: center;
      }
    }

    &-text {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--neutral-color-150);

      @include small-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }
    }

    &-name {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: -1px;
      color: var(--neutral-color-100);

      @include small-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }
    }

    &-professions {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: var(--neutral-color-150);

      @include small-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
      }
    }

    &-skill {
      margin-bottom: 160px;
      max-width: 650px;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-color-100);

      @include small-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        text-align: center;
      }
    }
  }
}
