.articles {
  margin-bottom: 160px;
  padding: 160px 0 0;

  @include mini-desktop {
    padding: 130px 0 0;
  }

  @include small-tablet {
    padding: 100px 0 0;
  }

  @include small-mobile {
    padding: 80px 0 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;

    &-title {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--neutral-color-100);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }

    &-subtitle {
      margin-bottom: 80px;
      max-width: 435px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-color-150);

      @include small-mobile {
        margin-bottom: 40px;
      }
    }
  }

  &__btns {
    @include flex-align-center;
    gap: 16px;
    justify-content: flex-end;
    transform: translateY(-40px);

    @include mobile {
      display: none;
    }
  }

  &__btn {
    @include flex-all-center;
    border: 1px solid var(--neutral-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);

    & svg path {
      transition: fill var(--transition);
    }

    &:hover {
      border-color: var(--neutral-color-100);
      background-color: var(--neutral-color-100);

      & svg path {
        fill: var(--neutral-color-10);
      }
    }

    &--next {
      transform: rotate(-180deg);
    }
  }

  &__wrapper {
    gap: 32px;
  }

  &__img {
    margin-bottom: 24px;

    @include small-mobile {
      margin-bottom: 10px;
    }

    &-subtitle {
      margin-bottom: 16px;
      max-width: 407px;
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: -1px;
      color: var(--neutral-color-100);

      @include small-mobile {
        margin-bottom: 10px;
        font-size: 28px;
      }
    }

    &-desc {
      margin-bottom: 24px;
      max-width: 403px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-color-150);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      border-radius: 100px;
      padding: 16px 32px;
      max-width: 175px;
      max-height: 56px;
      box-sizing: border-box;
    }

    &-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: var(--neutral-color-100);
    }
  }
}
