.articles {
  padding: 160px 0 0;

  &__head {
    display: flex;
    justify-content: space-between;

    &-title {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--neutral-color-100);
    }

    &-subtitle {
      margin-bottom: 80px;
      max-width: 435px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-color-150);
    }
  }
}
