.descr {
  padding: 120px 0;
  background-color: var(--black-bg-color);

  @include tablet {
    padding: 60px 0;
  }

  @include small-tablet {
    padding: 30px 0;
  }

  @include mobile {
    padding: 50px 0;
  }

  @include small-mobile {
    padding: 30px 0;
  }

  &__content {
    &-top {
      display: flex;
      gap: 32px;

      @include mobile {
        gap: 0;
        flex-direction: column;
      }
    }

    &-img {
      max-width: 584px;

      &-up {
        margin-top: 244px;

        @include mobile  {
          margin: 0;
        }
      }

      @include mini-desktop {
        margin-top: 42px;
      }

      @include tablet {
        margin-top: 70px;
      }

      @include small-tablet {
        margin-top: 95px;
      }

      @include mobile {
        margin: 0;
      }
    }

    &-bottom {
      display: flex;
      gap: 32px;

      @include mobile {
        gap: 0;
        flex-direction: column;
      }
    }
  }

  &__img {
    &-title {
      margin-bottom: 24px;
      max-width: 583px;
      font-weight: 600;
      font-size: 40px;
      line-height: 120%;
      color: #fff;

      @include tablet {
        margin-bottom: 14px;
        font-size: 36px;
      }

      @include mobile {
        margin-bottom: 10px;
      }

      @include small-mobile  {
        font-size: 32px;
      }
    }

    &-subtitle {
      max-width: 515px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: var(--neutral-color-150);

      @include mobile {
        margin-bottom: 50px;
        font-size: 16px;
      }

      @include small-mobile  {
        font-size: 15px;
        line-height: 28px;
      }
    }
  }
}
