<section class="descr">
  <div class="container">
    <div class="descr__head">
      <div class="descr__content-top">
        <div class="descr__content-img">
          <img src="./assets/image/table.jpg" alt="table and laptop" />
          <h2 class="descr__img-title">
            How we perform long-running tasks using AWS services
          </h2>
          <p class="descr__img-subtitle">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
        <div class="descr__content-img">
          <img
            src="./assets/image/people.jpg"
            alt="A man is sitting at a conference"
          />
          <h2 class="descr__img-title">How to ask when </br> doing User Research</h2>
          <p class="descr__img-subtitle">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
      </div>
      <div class="descr__content-bottom">
        <div class="descr__content-img-up">
          <img src="./assets/image/man-conference.jpg" alt="table and laptop" />
          <h2 class="descr__img-title">
            Layout Exploration — Simple exercise but big effect
          </h2>
          <p class="descr__img-subtitle">
            Make alternatives or other options for the design we are making.For example, we are creating a website design. Then there is the testimonial section.
          </p>
        </div>
        <div class="descr__content-img">
          <img
            src="./assets/image/man-meeting.jpg"
            alt="A man is sitting at a conference"
          />
          <h2 class="descr__img-title">
            Webflow Break the </br> Coding Barrier
          </h2>
          <p class="descr__img-subtitle">
            Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
