<section class="hero hero-decor">
  <div class="container hero__container">
    <div class="hero__title">Activity & Updates</div>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <div class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">View all</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Design</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Articles</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Product</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Software Development</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Customer Success</a>
        </li>
      </ul>
    </div>
    <div class="swiper hero__slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide hero__view">
      <img 
      class="hero__view-img"
      src="./assets/image/girl.jpg" 
      alt="The girl is smiling while sitting at her laptop"
      width="515"
      height="428"
      />
      <div class="hero__view-info">
      <time datetime="2024-01-30" class="hero__view-data">Published in Insight Jan 30, 2024</time>
      <address class="hero__view-author">by : Albert Sans</address>
      </div>
      <h2 class="hero__img-title">Practice making User Flow</h2>
      <p class="hero__img-desc">In this article, we'll cover how to create user flows</p>
    </div>
    <div class="swiper-slide hero__view">
      <img 
      class="hero__view-img"
      src="./assets/image/two-girl.jpg" 
      alt="The girl is smiling while sitting at her laptop"
      width="515"
      height="428"
      />
      <div class="hero__view-info">
      <time datetime="2024-01-30" class="hero__view-data">Published in Insight Jan 30, 2024</time>
      <address class="hero__view-author">by : Albert Sans</address>
      </div>
      <h2 class="hero__img-title">Overview of the Design Principles</h2>
      <p class="hero__img-desc">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
    </div>
    <div class="swiper-slide hero__view">
      <img 
      class="hero__view-img"
      src="./assets/image/man-girl.jpg" 
      alt="The girl is smiling while sitting at her laptop"
      />
      <div class="hero__view-info">
      <time datetime="2024-01-30" class="hero__view-data">Published in Insight Jan 30, 2024</time>
      </div>
      <h2 class="hero__img-title">Using Grid in website design</h2>
      <p class="hero__img-desc">Andi: "What's the grid like?" Toni: “Like below…”</p>
    </div>
  </div>
  </div>
</section>
