.hero {
  padding: 105px 0 0;

  @include tablet {
    padding: 70px 0 0;
  }

  @include mobile {
    padding: 50px 0 0;
  }

  @include small-mobile {
    padding: 35px 0 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 959px;
  }

  &__title {
    margin-bottom: 118px;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -3px;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 70px;
      font-size: 54px;
    }

    @include small-tablet {
      margin-bottom: 60px;
      font-size: 48px;
      text-align: center;
    }

    @include mobile {
      font-size: 44px;
    }

    @include small-mobile {
      font-size: 38px;
    }
  }

  &__subtitle {
    max-width: 738px;

    @include tablet {
      margin-bottom: 100px;
      font-size: 24px;
    }

    @include small-tablet {
      font-size: 20px;
      text-align: center;
    }

    @include small-mobile {
      margin-bottom: 60px;
    }

    &::before {
      position: absolute;
      transform: translateY(-84px) translateX(-103px);
    }
  }

  &__touch {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-170px);

    @include tablet {
      display: none;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 250px;

    @include mini-desktop {
      margin-bottom: 180px;
    }

    @include tablet {
      margin-bottom: 140px;
    }

    @include small-tablet {
      margin-bottom: 100px;
    }

    @include mobile {
      margin-bottom: 70px;
      }
  }

  &__wrapper {
    gap: 32px;

  }

  &__img {
    &-title {
      margin: 24px 0 8px;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: -1%;
      text-align: left;
      color: var(--neutral-color-100);

      @include mini-desktop {
        margin: 10px 0 5px;
      }

      @include tablet {
        margin: 0;
      }

      @include small-tablet {
        font-size: 28px;
      }

      @include mobile {
        font-size: 22px;
      }

      @include small-mobile {
        font-size: 18px;
      }
    }

    &-subtitle {
      margin-bottom: 32px;
      max-width: 494px;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      text-align: left;
      color: var(--neutral-color-150);

      @include tablet {
        margin-bottom: 0;
        line-height: 30px;
      }

@include small-tablet {
  font-size: 16px;
  line-height: 20px;
}

      @include small-mobile {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &-btn {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: var(--neutral-color-10);
      background: var(--neutral-color-100);
      padding: 16px 32px;

      @include tablet {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 20px;

        @include small-tablet {
          display: none;
        }
      }
    }
  }

  &__powerful {
    display: flex;
    gap: 200px;
    align-items: center;
    margin-bottom: 160px;

    @include mini-desktop {
      margin-bottom: 130px;
    }

    @include tablet {
      gap: 60px;
      flex-direction: column;
      margin-bottom: 100px;
      text-align: center;
    }

    @include small-tablet {
      margin-bottom: 50px;
    }

    @include mobile {
        margin-bottom: 30px;

      }

    &-title {
      max-width: 480px;
      max-height: 134px;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--neutral-color-100);

      @include mini-desktop {
        font-size: 48px;
      }

      @include mobile {
        font-size: 44px;
      }

      @include small-mobile {
        font-size: 38px;
      }
    }

    &-desc {
      max-width: 522px;
      max-height: 144px;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: var(--neutral-color-100);

      @include mini-desktop {
        font-size: 20px;
      }

      @include small-mobile {
        font-size: 18px;
      }
    }
  }
}
